/* @import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Golos Text", sans-serif; */
}

.or {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-block: 10px;
  /* margin-block: 24px; */
  display: flex;
  align-items: center;
}
.or::after {
  content: "";
  display: inline-block;
  width: 0;
  flex-grow: 1;
  background: lightgray;
  height: 1px;
}
.or::before {
  content: "";
  display: inline-block;
  width: 0;
  flex-grow: 1;
  background: lightgray;
  height: 1px;
}
.or > span {
  margin-inline: 15px;
}

.signup-right {
  background-image: url("./assets/iPadPro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

label {
  font-weight: 500;
}
