/* @import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Jacquard+12&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --chakra-fonts-body: "Golos Text", sans-serif;
  --chakra-fonts-heading: "Golos Text", sans-serif;
}

html {
  font-family: var(--chakra-fonts-body) !important;
} */

.or {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-block: 10px;
  /* margin-block: 24px; */
  display: flex;
  align-items: center;
}
.or::after {
  content: "";
  display: inline-block;
  width: 0;
  flex-grow: 1;
  background: lightgray;
  height: 1px;
}
.or::before {
  content: "";
  display: inline-block;
  width: 0;
  flex-grow: 1;
  background: lightgray;
  height: 1px;
}
.or > span {
  margin-inline: 15px;
}

.sign-up {
  background-image: url("./assets/images/signUp-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

label {
  font-weight: 500;
}
